@model TuitionDbv1.ViewModels.ViewBatchStudents
@using TuitionDbv1.Models

<h2>Batch Details</h2>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Batch Day:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batches.BatchDay)
        </dd>
        <dt class="col-sm-2">
            Batch Time:
        </dt>
        <dd class="col-sm-10">
            @{
                var batchTime = Model.Batches.BatchTime;
                var batchTimeString = batchTime.ToString().Replace("Batch_", "").Insert(2, ":");
                @batchTimeString
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batches.Staffs.FullName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batches.Staffs.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batches.Subjects.SubjectName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batches.Subjects.SubjectName)
        </dd>
    </dl>
</div>

<!--seperate table which displays the students fullname using ViewBatchStudents that has a link to the batchstudent of a particular batch.-->
<table>
    <tbody>
    <h4>Students</h4>
    <ul>
        @foreach (var student in @Model.Students)
        {
            <li>@student.FullName</li>
        }
    </ul>
    </tbody>
</table>

  

<div>
    <a asp-action="Edit" asp-route-id="@Model.Batches.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>