@model TuitionDbv1.Models.Batch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staffs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staffs.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
