@model TuitionDbv1.ViewModels.ViewBatchStudents

<h2>Batch Details</h2>
<div>
    <h4>Batch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Batch Day
        </dt>
        <dd class="col-sm-10">
            @Model.Batches.BatchDay
        </dd>
        <dt class="col-sm-2">
            Batch Time
        </dt>
        <dd class="col-sm-10">
            @Model.Batches.BatchTime
        </dd>
        <dt class="col-sm-2">
            Staff
        </dt>
        <dd class="col-sm-10">
            @Model.Batches.Staffs.FullName
        </dd>
        <dt class="col-sm-2">
            Subject
        </dt>
        <dd class="col-sm-10">
            @Model.Batches.Subjects.SubjectName
        </dd>
    </dl>
</div>
<div>
    <h4>Students</h4>
    <ul>
        @foreach (var student in @Model.Students)
        {
            <li>@student.FullName</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Batches.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
