@model IEnumerable<TuitionDbv1.Models.Batch>

@using TuitionDbv1.Models


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Batches Info.</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.BatchDay)</a>
            </th>
            <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.BatchTime)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchTime)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staffs.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
            </td>
               
            <td>
                <a asp-action="Edit" asp-route-id="@item.BatchId">Edit</a>
                </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.BatchId">Details</a> 
                </td>
                <td>
                <a asp-action="Delete" asp-route-id="@item.BatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>