@model IEnumerable<TuitionDbv1.Models.Batch>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Batches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staffs.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>