@model TuitionDbv1.Models.BatchStudent


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Batch Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.FullName)
        </dd>
        <dt class="col-sm-2">
            Day:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batches.BatchDay)
        </dd>
        <dt class="col-sm-2">
            Time:
        </dt>
         <dd class = "col-sm-10">
           @{
                var batchTime = Model.Batches.BatchTime;
                var batchTimeString = batchTime.ToString().Replace("Batch_", "").Insert(2, ":");
                @batchTimeString
            }
        </dd>
        <dt class="col-sm-2">
            Staff Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batches.Staffs.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batches.Subjects.SubjectName):
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Batches.Subjects.SubjectName)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BatchStudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
