@model IEnumerable<TuitionDbv1.Models.BatchStudent>

@{
    ViewData["Title"] = "BatchStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Students and add them to a batch</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Search box, for the users input to search fo a student-->
<form asp-controller="BatchStudents" asp-action="Index">
    <p>
        Search by students first name: &nbsp; <input type="text" name="searchBatchStudent" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batches.BatchDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batches.BatchTime)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            var intCount = 0;
        }

        @foreach (var item in Model)
        {
            intCount++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batches.BatchDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batches.BatchTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BatchStudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BatchStudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BatchStudentId">Delete</a>
                </td>
            </tr>
        }

        @if (intCount == 0)
        {
            <tr>
                <td colspan="4">
                    <h2>No Student found</h2>
                </td>
            </tr>
        }
    </tbody>
</table>
