@model IEnumerable<TuitionDb.Models.ClassStudent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classes.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassStudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassStudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassStudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
