@model IEnumerable<TuitionDbv1.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Staff</h1>

<h6>(Total Staff are "@ViewBag.Sc")</h6>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Staffs" asp-action="Index">
    <p>
        Search by staff Name: &nbsp;  <input type="text" name="searchStaff" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var intCount = 0;

        }
@foreach (var item in Model) {
            intCount++;

    <tr>
           <td>
                @Html.DisplayFor(modelItem => item.StaffFirstName)
           </td>
           <td>
                @Html.DisplayFor(modelItem => item.StaffLastName)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>
            </td>
        </tr>
}
        @if (intCount == 0)
        {
            <h2>No Staff found</h2>
        }
    </tbody>
</table>
