@model IEnumerable<TuitionDbv1.Models.BatchFee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fees Info.</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Received)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AmountToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Received)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
