@model TuitionDbv1.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
