@model IEnumerable<TuitionDbv1.Models.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Students";
}


<h1>Register a Student.</h1>

<h6>(Total Students is "@ViewBag.Sc")</h6>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index">
    <p>
        Search by student name: &nbsp; <input type="text" name="searchStudent" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.StudentSchool)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.YearLevel)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var intCount = 0;

        }
@foreach (var item in Model) {

           
                intCount++;
           

            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}

        @if(intCount == 0)
        {
            <h2>No Students found</h2>
        }
    </tbody>
</table>
<br />
